<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>backbone test</title>

  <title>Backbone.js TodoMvc</title>
  <link rel="stylesheet" href="assets/base.css">
  <link rel="stylesheet" href="assets/index.css">
</head>


<body>
  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <input class="new-todo" id="new-todo" placeholder="What needs to be done?" autofocus>
    </header>
    <section class="main">
      <input class="toggle-all" id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list" id="todo-list"></ul>
    </section>
    <footer class="footer" id="footer"></footer>
  </section>

  <script type="text/template" id="item-template"></script>
  <script type="text/template" id="start-template"></script>
  <script src="js/lib/jquery.min.js" charset="utf-8"></script>
  <script src="js/lib/underscore-min.js" charset="utf-8"></script>
  <script src="js/lib/backbone-min.js" charset="utf-8"></script>
  <script src="js/lib/backbone.localStorage.js" charset="utf-8"></script>
  <script src="js/models/todo.js" charset="utf-8"></script>
  <script src="js/collecntions/todos.js" charset="utf-8"></script>
  <script src="js/views/todos.js" charset="utf-8"></script>
  <script src="js/routers/router.js" charset="utf-8"></script>
  <script src="js/app.js" charset="utf-8"></script>

  <!-- 커스텀 <script> 태그를 사용하면 브라우저에 의해서 해석되지 않고 일반  텍스트 처럼 취급된다. -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input type="checkbox" class="toggle" <%=c ompleted ? 'checked' : ' ' %> >
      <label>
        <%- title %>
      </label>
      <button class="destroy"></button>
    </div>
    <input type="text" class="edit" value="<%- title %>">
  </script>

  <script id="stats-template" type="text/template">
    <span id="todo-count"><strong><%= remaining %></strong>
    <%= remaining === 1 ? 'item' : 'items' %> left </span>
    <ul id="filters">
      <li><a href="#/" class="selected">All</a></li>
      <li><a href="#/active">Active</a></li>
      <li><a href="#/completed">Completed</a></li>
    </ul>
    <% if (completed) { %>
      <button id="clear-completed">Clear completed(
        <%= completed %>)</button>
      <% } %>
  </script>

</body>

</html>
